<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <!--link href="/public/output.css" rel="stylesheet" /-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen">
  {% include 'header.njk'  %}
  <main class="bg-blue-300">
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
</body>
</html>