# dependencies installed by npm
node_modules

# build artefacts
public
css

# secrets and errors
.env
.log

# macOS related files
.DS_Store

# specifics of vs code
.vscode

#Added dummy html file to clean code for njk files
dummy.html